.header {
    height: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background: linear-gradient(75deg, lightgray 49%, #222222 50%);
    color: #f4f4f4;
    flex-wrap: wrap;
    position: relative;
}

.nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    padding: 10px 15px;
}

.contact-button {
    background: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    position: relative;
}

.image {
    max-width: 900px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.title {
    font-size: 3.5rem;
    color: black;
}

.highlight {
    color: black;
}

.tagline {
    font-size: 1.5rem;
    color: black;
    margin-top: -10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.icon {
    font-size: 2.5rem;
    color: black;
    transition: color 0.3s ease;
}

.icon.linkedin:hover {
    color: #0077B5;
}

.icon.github:hover {
    color: #800080;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .image-container {
        padding: 0;
        position: relative;
    }

    .image {
        max-width: 250px;
        position: static;
    }
}
